In [56]:
import pandas as pd

In [57]:
vendas = pd.read_csv("data/base_vendas.csv", sep=";")
vendas = vendas.drop(columns=["Unnamed: 10"])

In [58]:
vendas.head()

,data_solicitacao,data_venda,data_pagto,valor_venda,pol_comissao,valor_comissao,estado_cliente,estado_vendedor,produto,vendedor_id
0,13/01/2021,12/01/2021,01/02/2021,un.,750.00,SC,PR,A,V_1,NaN
1,14/02/2021,16/02/2021,01/03/2021,un.,750.00,SC,PR,A,V_1,NaN
2,17/02/2021,18/02/2021,01/03/2021,un.,750.00,PR,A,V_23,NaN,NaN
3,21/03/2021,25/03/2021,01/04/2021,un.,750.00,PR,A,V_23,NaN,NaN
4,29/01/2021,31/01/2021,01/03/2021,un.,750.00,PR,A,V_30,NaN,NaN

In [59]:
vendedores = pd.read_json("data/vendedores.json")
vendedores.head(40)

,vendedor_id,data_de_entrada,idade,carga_horaria_diaria,escolaridade,salario_bruto
0,V_1,14/06/2016,27,8,Ensino Médio Completo,"R$ 1,750.00"
1,V_10,15/09/2011,50,6,Ensino Médio Completo,"R$ 1,750.00"
2,V_11,23/07/2011,47,6,Ensino Médio Completo,"R$ 1,750.00"
3,V_12,16/09/2016,43,6,Ensino Médio Completo,"R$ 1,750.00"
4,V_13,11/08/2014,25,8,Ensino Médio Completo,"R$ 1,750.00"
5,V_14,07/06/2016,22,8,Ensino Médio Completo,"R$ 1,750.00"
6,V_15,07/11/2019,32,8,Ensino Médio Completo,"R$ 1,750.00"
7,V_16,16/08/2012,49,8,Ensino Médio Completo,"R$ 1,750.00"
8,V_17,25/06/2016,22,8,Ensino Médio Completo,"R$ 1,750.00"
9,V_18,23/02/2019,20,6,Ensino Médio Completo,"R$ 1,750.00"
10,V_19,19/03/2016,39,6,Ensino Médio Completo,"R$ 1,750.00"
11,V_2,18/12/2019,22,6,Ensino Médio Completo,"R$ 1,750.00"
12,V_20,18/04/2017,34,8,Ensino Médio Completo,"R$ 1,750.00"
13,V_21,27/08/2010,35,6,Ensino Médio Completo,"R$ 1,750.00"
14,V_22,09/11/2011,26,6,Ensino Médio Completo,"R$ 1,750.00"
15,V_23,18/11/2015,26,6,Ensino Médio Completo,"R$ 1,750.00"
16,V_24,22/02/2019,22,8,Ensino Médio Completo,"R$ 1,750.00"
17,V_25,27/05/2012,32,8,Ensino Médio Completo,"R$ 1,750.00"
18,V_26,22/09/2013,28,6,Ensino Médio Completo,"R$ 1,750.00"
19,V_27,19/10/2015,37,8,Ensino Médio Completo,"R$ 1,750.00"
20,V_3,17/02/2013,48,6,Ensino Superior Completo,"R$ 2,000.00"
21,V_30,06/01/2011,20,6,Ensino Superior Completo,"R$ 2,000.00"
22,V_31,17/10/2019,47,6,Ensino Superior Completo,"R$ 2,000.00"
23,V_32,12/08/2013,33,8,Ensino Superior Completo,"R$ 2,000.00"
24,V_34,30/05/2010,39,6,Ensino Superior Completo,"R$ 2,000.00"
25,V_36,22/05/2010,22,6,Ensino Superior Completo,"R$ 2,000.00"
26,V_39,29/02/2012,23,6,Ensino Superior Completo,"R$ 2,000.00"
27,V_4,19/08/2014,46,8,Ensino Superior Completo,"R$ 2,000.00"
28,V_40,28/04/2018,38,8,Ensino Superior Completo,"R$ 2,000.00"
29,V_41,27/02/2015,41,6,Ensino Superior Completo,"R$ 2,000.00"
30,V_45,07/10/2017,33,6,Ensino Superior Completo,"R$ 2,000.00"
31,V_46,29/07/2015,35,8,Pós Graduação Completa,"R$ 2,500.00"
32,V_47,08/08/2011,29,6,Pós Graduação Completa,"R$ 2,500.00"
33,V_5,01/09/2010,49,6,Pós Graduação Completa,"R$ 2,500.00"
34,V_6,15/08/2011,45,6,Pós Graduação Completa,"R$ 2,500.00"
35,V_7,11/02/2017,50,8,Pós Graduação Completa,"R$ 2,500.00"
36,V_8,08/02/2019,46,8,Pós Graduação Completa,"R$ 2,500.00"
37,V_9,28/09/2018,31,8,Mestrado,"R$ 4,000.00"

In [60]:
produtos = pd.read_json("data/produtos.json")
produtos.head(40)

  produto_id  preco_base desconto_maximo  custo_de_producao
0          A        5000             20%               1300
1          B      112000             50%              30000
2          C        2000             50%                600
3          D        1900             10%                500
4          E       40000             20%              10000
5          F        2000             10%               1300

In [61]:
print(set(vendas["produto"]).difference(set(produtos["produto_id"])))
print(set(vendas["vendedor_id"]).difference(set(vendedores["vendedor_id"])))

{'V_15', 'V_12', 'V_34', 'V_45', 'V_1', 'V_8', 'V_9', 'V_11', 'V_36', 'V_19', 'V_41', 'V_22', 'V_25', 'V_46', nan, 'V_40', 'V_6', 'V_4', 'V_16', 'V_2', 'V_26', 'V_18', 'V_10', 'V_13', 'V_24', 'V_3'}
{nan}

# Exercício 1.1

**Quais os problemas de negócio o dataset poderia resolver? Existem problemas
relacionados à consistência dos dados no dataset? Como você resolveria tais
problemas?**

Pelo nome das tabelas, parece que a tabela "vendas" seria uma tabela fato registrando eventos de venda, com os datasets "produtos" e "vendedores"
servindo como tabelas dimensão. No entanto, diversos notei diversos problemas em como a tabela fato "vendas" foi construída, conforme indicado abaixo.

Como solução, primeiro verificaria o banco OLTP para ver se o problema está na produção do dado, cabendo ao engenheiro de dados alertar o time responsável pela produção.
Se estiver certo, então o problema está na extração dos dados, necessitando o processo seja debugado e corrigido.

- As colunas "produto" e "vendedor_id", que me parecem ser chaves estrangeiras estrangeiras para as tabelas dimensão, estão com problemas de integridade. Estão com referências inválidas para as suas tabelas dimensão ou até mesmo não possuem referências.

In [64]:
print(set(vendas["produto"]).difference(set(produtos["produto_id"])), end="\n\n")

print(set(vendas["vendedor_id"]).difference(set(vendedores["vendedor_id"])))

{'V_15', 'V_12', 'V_34', 'V_45', 'V_1', 'V_8', 'V_9', 'V_11', 'V_36', 'V_19', 'V_41', 'V_22', 'V_25', 'V_46', nan, 'V_40', 'V_6', 'V_4', 'V_16', 'V_2', 'V_26', 'V_18', 'V_10', 'V_13', 'V_24', 'V_3'}

{nan}

- As colunas "valor_venda", "pol_comissao", "valor_comissao", "estado_cliente", "estado_vendedor" estão com problemas de validade, possuindo valores fora do domínio de cada coluna. Parece que a matriz de valores foi embaralhada, misturando os valores.

In [65]:
for column in ["valor_venda", "pol_comissao", "valor_comissao", "estado_cliente", "estado_vendedor"]:
    print(f"{column}: {vendas[column].unique()}\n")

valor_venda: ['un.' '1.0%' '432000.00' '620000.00' '744000.00' '780000.00' '910000.00'
 '936000.00' '1092000.00' '2000.00' '2400.00' '3200.00' '3840.00'
 '4500.00' '5400.00' '7250.00' '7400.00' '8700.00' '8750.00' '8880.00'
 '9600.00' '10500.00' '11520.00' '12000.00' '14400.00' '2.6%' '17400.00'
 '80000.00' '96000.00' '120000.00' '144000.00' '150000.00' '4.0%'
 '180000.00' '216000.00']

pol_comissao: ['750.00' '2800.00' '3360.00' '3600.00' '1.0%' '2.6%' nan '100.00'
 '450.00' '4.0%' '6000.00']

valor_comissao: ['SC' 'PR' 'RJ' 'SP' 'RS' 'MG' '4320.00' '6200.00' nan '7800.00' '9360.00'
 '10920.00' '52.00' '62.40' 'BA' '99.84' '117.00' '140.40' '188.50'
 '226.20' '227.50' '249.60' '273.00' '312.00' '374.40' '452.40' 'AL' 'PE'
 'AC' '3200.00' '3840.00' '4800.00' '5760.00' '6000.00' '7200.00'
 '8640.00']

estado_cliente: ['PR' 'A' 'RS' 'SC' 'SP' 'MG' 'B' 'PE' 'BA' 'RJ' 'C' 'F' 'D' 'AC' 'AL']

estado_vendedor: ['A' 'V_23' 'V_30' 'V_20' 'V_22' 'V_25' 'V_24' 'B' 'V_47' 'SC' 'C' 'SP'
 'MG' 'V_32' 'V_17' 'V_31' 'V_34' 'V_21' 'F' 'V_39' 'V_27' 'D' 'V_26'
 'V_19' 'E' 'RS']